*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #383c41b8;
}

.head{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Lilita One', cursive;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.generator{
    height: 60%;
    position: absolute;
}

.leftDiv{
    position: relative;
    float: left;
    width: 45%;
    height: -webkit-fill-available;
    margin-left: 2%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.rightDiv{
    position: relative;
    float: right;
    width: 45%;
    height: -webkit-fill-available;
    margin-right: 25px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


.showImg{
    position: absolute;
    padding-left: 20%;
    padding-bottom: 10px;
    width: 50%;
    bottom: 25px;
}

.image{
    position: absolute;
    float: left;
    width: 400px;
    height: 400px;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.customize {
    text-align: center;
    position: relative;
    float: right;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.tools {
    padding-top: 32%;
    text-align: center;
}

.bg{
    position: absolute;
    z-index: 1;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.ears{
    position: absolute;
    z-index: 2;
}

.neck{
    position: absolute;
    z-index: 3;
}

.accessories{
    position: absolute;
    z-index: 14;
}

.nose{
    position: absolute;
    z-index: 5;
}

.hair{
    position: absolute;
    z-index: 6;
}

.mouth{
    position: absolute;
    z-index: 7;
}

.eyes{
    position: absolute;
    z-index: 8;
}

.leg{
    position: absolute;
    z-index: 9;
}

.pic{
    width: 400px;
}

button, .menu, .style{
  width: 200px;
  height: 45px;
  padding: 5px;
  margin: 5px;
  border: 3px solid #9748ff;
  border-radius: 8px;
  font-family: 'Geologica', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

button:hover{
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}


button:hover {
    background-color: #5616df;
    color: #fff;
}

.menu.active, .style.selected, .tools.active {
    background-color: #b700ff;
    color: #ffffff;
}

.submenu{
    width: 115px;
    height: 45px;
    padding: 5px;
    margin: 5px;
    border: 3px solid #9748ff;
    border-radius: 8px;
}


.hidden{
    display: none;
}